#systemmessagepanel {
    position: fixed;
    bottom: 30px;
    right: 15px;
	padding: 5px 15px 15px 15px;
	width: 38.2%;
	opacity: 0.5;
}
 
#systemmessagepanel #heading {
	font-size: 1.6em;
	text-decoration: underline;
	text-align: center;
}
    
#systemmessagepanel p {
	margin-top: 1px; 
	
	/* the div is part of the footer tag, which be default gets a text-align: right inherited
	We reset this value here back to prevent that everything is right-aligned */
	text-align: initial; 
}  
  
#systemmessagepanel #hidelink {
	position: absolute;
	right: 8px;
	top: 5px;
}

#systemmessagepanel:hover {
	opacity: 1.0;
}

.org-jenkinsci-plugins-systemmessage-fatal {
	border-style: dashed;
	border-width: 4px;
	border-color: red;
	border-radius: 15px;
	background-color: #ff6666;  /* red-ish */
}

.org-jenkinsci-plugins-systemmessage-fatal p {
	color: white;	
}

.org-jenkinsci-plugins-systemmessage-warning {
	border-style: dashed;
	border-width: 4px;
	border-color: yellow;
	border-radius: 15px;
	background-color: #ffff4d; /* light yellow */
}

.org-jenkinsci-plugins-systemmessage-warning p {
	color: black;	
}

.org-jenkinsci-plugins-systemmessage-information {
	border-style: dashed;
	border-width: 4px;
	border-color: #1a1aff; /* light blue */
	border-radius: 15px;
	background-color: white;
}

.org-jenkinsci-plugins-systemmessage-information p {
	color: black;	
}
