<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Tester User</fullName>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>wWEjrjemW04rIdyqBxMvzFjUCvR5CBKVDhWEEmd0YBrDNhXVFegjk9tlgHTc5HAA</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>Alle</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <org.jenkinsci.plugins.systemmessage.user.UserReadSystemMessagesUserProperty plugin="system-message@1.0.0-SNAPSHOT">
      <readMessages />
    </org.jenkinsci.plugins.systemmessage.user.UserReadSystemMessagesUserProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$gfh55UOFkttTICOB7xmbl.dEA.b3JGVD1bqWGJtPypQZQyUQbO2bb</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.11">
      <emailAddress>dummy@example.bogus</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>